---
import Base from "../layouts/Base.astro";
import { GridMaker } from "../guideline-generator/GridMaker";
import { GraphGridPage } from "../guideline-generator/GraphGridMaker";
const gridMaker = new GraphGridPage();
const svg = gridMaker.makeSVGString();
---

<Base>
  <div class="box">
    <div>
      <h2>static</h2>
      <div class="static" set:html={svg}></div>
    </div>
    <div>
      <h2>dynamic</h2>
      <div class="test"></div>
    </div>
   </div>
</Base>

<style lang="scss" is:global>
  .box {
    width: 100%;
    height: 90vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
</style>

<script>
  import { GridMaker } from "../guideline-generator/GridMaker";
  import { GraphGridPage } from "../guideline-generator/GraphGridMaker";
  const gridMaker = new GraphGridPage();
  const test = document.querySelector(".test");
  test?.append(gridMaker.makeSVG());
</script>