---
import Base from "../layouts/Base.astro";
import { GridMaker } from "../guideline-generator/GridMaker";
const gridMaker = new GridMaker();
const svg = gridMaker.makeSVGString();
---

<Base>
  <!-- <div class="test" set:html={svg}></div> -->
  <div class="test"></div>
</Base>

<style>
  .text {
    color: red;
  }
</style>

<script>
  import { GridMaker } from "../guideline-generator/GridMaker";
  const gridMaker = new GridMaker();
  const test = document.querySelector(".test");
  test?.append(gridMaker.makeSVG());
</script>